# ========================
# 🚀 App Configuration
# ========================

PORT=3000
NODE_ENV=development

API_PREFIX=/api
API_VERSION=v1

# ========================
# 🧠 Database (set by CLI)
# ========================

DB_PROVIDER=mongodb

# PostgreSQL (Prisma)

# MongoDB (Mongoose)
MONGO_URI=mongodb://localhost:27017/db

# ========================
# 🔐 Authentication
# ========================

JWT_SECRET=SUPERSECURESECRET

# ========================
# 🔌 Plugins (comma separated)
# ========================

PLUGINS=

# ========================
# 🔴 Redis (optional)
# ========================

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# ========================
# 📦 Queue / Jobs (optional)
# ========================

QUEUE_PREFIX=techunico

# ========================
# 📡 Metrics (optional)
# ========================

METRICS_ENABLED=true